.jumbotron-fluid{
    background-image: url(https://static.pexels.com/photos/96857/pexels-photo-96857.jpeg);
    height: 30em;
    background-position: center;
    background-size: cover;
    text-align: right;
    color: white;   
}
body{
    background-image: url(https://www.transparenttextures.com/patterns/3px-tile.png);
    background-color: #2b2628;
    color: white;
} 

.border{
    background-image: url(https://www.transparenttextures.com/patterns/3px-tile.png);
    outline: #ff8100 solid 1px; 
    background-color: #77747f;
    padding: 2%;
}

.beta{
    padding: 5%;
    
}
.btn{
    background-color: #2b2628;
    
}